<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adidas - Campeones del mundo</title>
    <link rel="stylesheet" href="../Css/styles.css">
</head>
<body>
    <header>
        <img src="../Avances-del-trabajo-final-/Imagenes/logo2.jpg" width="100px" height="100px" alt="Campeones del mundo">
        <h1>Campeones del Mundo</h1>
        <h2>Todo lo que necesitas para llevar tu juego al siguiente nivel</h2>
    </header>
    <nav>
        <a href="../Avances-del-trabajo-final-/Index.html">Home</a>
        <a href="../Views/Grasep.html">Grasep</a>
        <a href="../Views/Adidas.html">Adidas</a>
        <a href="../Views/Nike.html">Nike</a>
        <a href="../Views/Umbro.html">Umbro</a>
        <a href="../Views/Carrito.html">Carrito</a>
    </nav>
    <main>
        <h2>Productos Adidas disponibles</h2>
        <div class="catalogo">
            <p>Adidas</p>
            <img src="../Avances-del-trabajo-final-/Imagenes/botin-adidas.jpg" title="Botín" alt="Botín Adidas" width="200px" height="200px">
        </div>
        <section>
            <h3>Listado de Productos Adidas</h3>
            <div class="product-boxes">
                <div class="product-box">
                    <img src="../Avances-del-trabajo-final-/Imagenes/Botin-adidas1.jpg" alt="Botín 1" width="150px" height="150px">
                    <p>Botín Adidas Predator</p>
                    <p>Precio: $150.000</p>
                </div>  
                <div class="product-box">
                    <img src="../Avances-del-trabajo-final-/Imagenes/botin-adidas2.jpg" alt="Botín 2" width="150px" height="150px">
                    <p>Botín Adidas Nemeziz</p>
                    <p>Precio: $140.000</p>
                </div>
                <div class="product-box">
                    <img src="../Avances-del-trabajo-final-/Imagenes/botin-adidas3.0.jpg" alt="Botín 3" width="150px" height="150px">
                    <p>Botín Adidas Copa Mundial</p>
                    <p>Precio: $160.000</p>
                </div>
                <!-- Agrega más productos en forma de cajas según sea necesario -->
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Campeones del mundo. Todos los derechos reservados.</p>
        <p>Desarrollado por Ruloff Yonatan David</p>
    </footer>
</body>
</html>