<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grasep - Campeones del Mundo</title>
    <link rel="stylesheet" href="../Css/styles.css">
</head>
<body>
    <header>
        <img src="../Avances-del-trabajo-final-/Imagenes/logo2.jpg" width="100px" height="100px" alt="Logo Campeones del mundo">
        <h1>Campeones del Mundo</h1>
        <h2>Todo lo que necesitas para llevar tu juego al siguiente nivel</h2>
    </header>
    <nav>
        <a href="../Avances-del-trabajo-final-/Index.html">Home</a>
        <a href="../Views/Grasep.html">Grasep</a>
        <a href="../Views/Adidas.html">Adidas</a>
        <a href="../Views/Nike.html">Nike</a>
        <a href="../Views/Umbro.html">Umbro</a>
        <a href="../Views/Carrito.html">Carrito</a>
    </nav>
    <main>
        <h2>Productos Grasep disponibles</h2>
        <div class="catalogo">
            <p>Grasep</p>
            <img src="../Avances-del-trabajo-final-/Imagenes/imagen-grasep.jpg" title="Céspedes" alt="Céspedes" width="200px" height="200px">
        </div>
        <section>
            <h3>Listado de Productos Grasep</h3>
            <table border="1" align="center">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoría</th>
                        <th>Marca</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Césped Natural Premium</td>
                        <td>Céspedes</td>
                        <td>Grasep</td>
                        <td>$34.000</td>
                    </tr>
                    <tr>
                        <td>Césped Sintético</td>
                        <td>Céspedes</td>
                        <td>Grasep</td>
                        <td>$38.000</td>
                    </tr>
                    <tr>
                        <td>Botin Fútbol 11</td>
                        <td>Botines</td>
                        <td>Grasep</td>
                        <td>$50.000</td>
                    </tr>
                    <!-- Agrega más productos según sea necesario -->
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Campeones del mundo. Todos los derechos reservados.</p>
        <p>Desarrollado por Ruloff Yonatan David</p>
    </footer>
</body>
</html>