<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbro - Campeones del Mundo</title>
    <link rel="stylesheet" href="../Css/styles.css">
</head>
<body>
    <header>
        <img src="../Avances-del-trabajo-final-/Imagenes/logo2.jpg" width="100px" height="100px" alt="Campeones del Mundo">
        <h1>Campeones del Mundo</h1>
        <h2>Todo lo que necesitas para llevar tu juego al siguiente nivel</h2>
    </header>
    <nav>
        <a href="../Avances-del-trabajo-final-/Index.html">Home</a>
        <a href="../Views/Grasep.html">Grasep</a>
        <a href="../Views/Adidas.html">Adidas</a>
        <a href="../Views/Nike.html">Nike</a>
        <a href="../Views/Umbro.html">Umbro</a>
        <a href="../Views/Carrito.html">Carrito</a>
    </nav>
    <main>
        <h2>Productos Umbro disponibles</h2>
        <div class="catalogo">
            <p>Umbro</p>
            <img src="../Avances-del-trabajo-final-/Imagenes/producto-umbro.jpg" title="Producto Umbro" alt="Producto Umbro" width="200px"
                height="200px">
        </div>
        <section>
            <h3>Ficha de un Producto en Particular</h3>
            <div class="product-ficha">
                <img src="../Avances-del-trabajo-final-/Imagenes/pelota-umbro.jpg" alt="Pelota Umbro" width="300px" height="300px">
                <div class="ficha-detalle">
                    <h4>Balón Umbro Pro</h4>
                    <p><strong>Categoría:</strong> Accesorios</p>
                    <p><strong>Marca:</strong> Umbro</p>
                    <p><strong>Precio:</strong> $80.000</p>
                    <p><strong>Descripción:</strong> Esta pelota esta registrada por AFA y es una garantia a la hora de
                        comprarla por su material y su costura gruesa.</p>
                    <p><strong>Disponibilidad:</strong> En stock</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Campeones del mundo. Todos los derechos reservados.</p>
        <p>Desarrollado por Ruloff Yonatan David</p>
    </footer>
</body>
</html>